
.table-render .arco-table-td.arco-table-col-sorted{
  background-color: unset;
}

.table-render .arco-table-tr-checked .arco-table-td::before{
  background-color: unset!important;
}

.table-render .arco-table-tr-checked .arco-table-td{
  background-color: #E8F3FF!important;
}

.table-render.auto-fill{
    position: absolute;
    inset: 0;
    padding: 10px;
    .table-render-content{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .table-body{
        flex: auto;
        position: relative;

        .table-body-wrapper{
          position: absolute;
          inset:0;
        }
      }
    }
}