name: publish
on:
  push:
    branches:
      - master
jobs:
  release:
    if: ${{ github.repository_owner == 'zhuchentong' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: ^7.0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build Package
        run: pnpm build

      - name: Configure Git User
        run: |
          git config --global user.email "2037630@163.com"
          git config --global user.name "zhuchentong"

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm exec changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  sync:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Sync Package
        run: |
          curl -X PUT "https://registry-direct.npmmirror.com/-/package/@gopowerteam/form-render/syncs" &&
          curl -X PUT "https://registry-direct.npmmirror.com/-/package/@gopowerteam/table-render/syncs" &&
          curl -X PUT "https://registry-direct.npmmirror.com/-/package/@gopowerteam/modal-render/syncs"
